{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <h2 class="sub-header">Add Company User</h2>
        <hr>
        <div class="col-md-6">
            {% if request == True %}
                <form action="{% url 'add_company_by_signup_request' companyregid %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <div class="well">
                        {% crispy add_company_form add_company_form.helper %}
                        <input type="submit" class="btn btn-primary" value="Add Profile">
                    </div>
                </form>
            {% else %}
                <form action="{% url 'add_company' %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <div class="well">
                        {% crispy add_company_form add_company_form.helper %}
                        <input type="submit" class="btn btn-primary" value="Add Profile">
                    </div>
                </form>
            {% endif %}
        </div>

{% endblock %}