{% extends 'base_jobportal.html' %}

{% block account_setting%}
    <p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Admin <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'admin_home' %}">Home</a></li>
    <li><a href="{% url 'companies' %}">Companies</a><span class="badge">{{ companiescount }}</span></li>
    <li><a href="{% url 'signup_requests' %}">SignUp Requests</a><span class="badge">{{ requestscount }}</span></li>
    <li><a href="{% url 'jobs' %}">Jobs/Internships</a><span class="badge">{{ jobscount }}</span></li>
        <li><a href="{% url 'admin_approval' 'place' %}">Pending Approvals</a></li>
    <li><a href="{% url 'departments' %}">Departments</a></li>
    <li><a href="{% url 'programmes' %}">Programmes</a></li>
    <li><a href="{% url 'years' %}">Years</a></li>
    <li><a href="{% url 'admin_manage' %}">Manage Users</a></li>
{% endblock %}

{% block content %}

    <div class="row">
        <h2 class="sub-header">Status and approvals</h2>
        <div class="col-md-12">
           {% if applicant_type == "stud" %}
                <p>Shortlist Status: {{ relation_instance.shortlist_status }}</p>
                <p>Placement Init: {{ relation_instance.placed_init }}</p>
                <p>Placement Approved: {{ relation_instance.placed_approved }}</p>
                <p>PPO Init: {{ relation_instance.ppo_init }}</p>
                <p>PPO Approved: {{ relation_instance.ppo_approved }}</p>

                {% if relation_instance.placed_init and not relation_instance.placed_approved %}
                    <p>This approve will approve placement request.</p>
                    <p><a href="{% url 'approve_stud' relation_instance.id %}">Approve</a></p>
                {% endif %}

                {% if relation_instance.ppo_init and not relation_instance.ppo_approved %}
                    <p>This approve will approve ppo request.</p>
                    <p><a href="{% url 'approve_stud' relation_instance.id %}">Approve</a></p>
                {% endif %}

            {% elif applicant_type == "alum" %}
                <p>Shortlist Status: {{ relation_instance.shortlist_status }}</p>
                <p>Placement Init: {{ relation_instance.placed_init }}</p>
                <p>Placement Approved: {{ relation_instance.placed_approved }}</p>

                {% if relation_instance.placed_init and not relation_instance.placed_approved %}
                    <p>This approve will approve placement request.</p>
                    <p><a href="{% url 'approve_alum' relation_instance.id %}">Approve</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <h2 class="sub-header">Links</h2>
        <div class="col-md-9">
            <h4><a href="{% url 'admin_logout' %}">  Logout</a></h4>
            <h4><a href="{% url 'admin_home' %}">Home</a></h4>
        </div>
    </div>
{% endblock %}