{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h3 class="sub-header">Edit profile</h3>
<hr>
<div class="col-md-6">
    <form action="{% url 'edit_company' companyid %}" method="post" accept-charset="utf-8">
        <div class="well">
            {% csrf_token %}
            {{ company_profile_edit_form.non_field_errors }}
            {% crispy company_profile_edit_form company_profile_edit_form.helper %}
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
</div>

{% endblock %}