{% extends 'base_admin.html' %}

{% block account_setting%}
    <p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">All Jobs and Internships</h2>
        <hr>
        <div class="col-md-12">
            <div class="col-md-3 input-group pull-right form-group" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                <input type="text" class="filter form-control" placeholder="What you looking for?">
            </div>

            <table id="job-table" class="table table-striped tablesorter table-hover">
                <thead>
                    <tr>
                        <th>Posted By</th>
                        <th>Job Designation</th>
                        <th>Openings</th>
                        <th>Opening Date</th>
                        <th>Closing Date</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody class="searchable">
                    {% for job in  jobs %}
                        <tr>
                            <td>
                                {% if job.posted_by_company == True %}
                                    {{ job.company_owner }}
                                {% elif job.posted_by_alumnus == True %}
                                    {{ job.alum_owner }}
                                {% endif %}
                            </td>
                            <td>{{ job.designation }}</td>
                            <td>{{ job.num_openings }}</td>
                            <td>{{ job.opening_date }}</td>
                            <td>
                                {% if job.application_deadline %}
                                    {{ job.application_deadline }}
                                {% else %}
                                    Date Not Set
                                {% endif %}
                            </td>
                            <td>
                                {% if job.approved %}
                                    Approved
                                {% else %}
                                    Approval Pending
                                {% endif %}
                            </td>
                            <td><a href = "{% url 'review_job' job.id|urlencode %}" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-list-alt"></span> Details</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
{% endblock %}