{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Admin <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'admin_home' %}">Home</a></li>
<li><a href="{% url 'companies' %}">Companies</a><span class="badge">{{ companiescount }}</span></li>
<li><a href="{% url 'signup_requests' %}">SignUp Requests</a><span class="badge">{{ requestscount }}</span></li>
<li><a href="{% url 'jobs' %}">Jobs/Internships</a><span class="badge">{{ jobscount }}</span></li>
<li><a href="{% url 'admin_approval' 'place' %}">Pending Approvals</a></li>
<li><a href="{% url 'departments' %}">Departments</a></li>
<li><a href="{% url 'programmes' %}">Programmes</a></li>
<li><a href="{% url 'years' %}">Years</a></li>
<li><a href="{% url 'admin_manage' %}">Manage Users</a></li>
{% endblock %}

{% block content %}

<h2 class="sub-header">Job Info</h2>
<div class="col-md-9">
    <!--TODO: Represent this data properly -->
    <!--TODO: Do something with this mess -->
    <!--https://ux.stackexchange.com/questions/1459/how-to-display-too-much-data-->
    <p>Description :
        <mark>{{ job_instance.description }}</mark>
    </p>

    <p>Designation :
        <mark>{{ job_instance.designation }}</mark>
    </p>

    <p>CPI Shortlist : {{ job_instance.cpi_shortlist }}</p>

    <p>Minimum CPI: {{ job_instance.minimum_cpi }}</p>

    <p>Percentage X : {{ job_instance.percentage_x }}</p>

    <p>Percentage XII : {{ job_instance.percentage_xii }}</p>

    <p>Openings: {{ job_instance.num_openings }}</p>

    <h4>Programmes List:</h4>
    {% if progs_list.count > 0 %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Dept</th>
                    <th>Prog</th>
                </tr>
            </thead>
            <tbody>
                {% for prog in progs_list %}
                    <tr>
                        <td>{{prog.year}}</td>
                        <td>{{prog.dept}}</td>
                        <td>{{prog.prog}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No programmes listed.</p>
    {% endif %}

    <h4><a href="{% url 'edit_progs' job_instance.id %}" class="btn btn-info">Add Progs</a></h4>
</div>

<div class="col-md-9">
    <h3>Applicants Data</h3>

    <h4><a href="{% url 'job_candidates' job_instance.id %}" class="btn btn-primary">Applicants' List</a></h4>

    <h4><a href="{% url 'job_candidates' job_instance.id %}" class="btn btn-primary">Download Applicants' Data</a></h4>
</div>

<div class="col-md-9">
    <h3>Edit and Delete</h3>

    <h4><a href="{% url 'edit_job' job_instance.id %}" class="btn btn-warning">Edit</a></h4>

    <h4><a href="{% url 'delete_job' job_instance.id %}" class="btn btn-danger">Delete</a></h4>
</div>

{% endblock %}