{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Unapproved: Company
{% endblock %}

{% block account_setting%}
    <p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Admin <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'admin_home' %}">Home</a></li>
    <li><a href="{% url 'companies' %}">Companies</a><span class="badge">{{ companiescount }}</span></li>
    <li><a href="{% url 'signup_requests' %}">SignUp Requests</a><span class="badge">{{ requestscount }}</span></li>
    <li><a href="{% url 'jobs' %}">Jobs/Internships</a><span class="badge">{{ jobscount }}</span></li>
        <li><a href="{% url 'admin_approval' 'place' %}">Pending Approvals</a></li>
    <li><a href="{% url 'departments' %}">Departments</a></li>
    <li><a href="{% url 'programmes' %}">Programmes</a></li>
    <li><a href="{% url 'years' %}">Years</a></li>
    <li><a href="{% url 'admin_manage' %}">Manage Users</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="sub-header">Unapproved Companies</h2>
        <div class="col-md-9">
            {% if company_profiles%}
                <h3>Company Profiles</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Organization Type</th>
                            <th>Industry Sector</th>
                            <th>Review and Approve</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in  company_profiles %}
                            <tr>
                                <td>{{ company.company_name }}</td>
                                <td>{{ company.organization_type }}</td>
                                <td>{{ company.industry_sector }}</td>
                                <td><a href="{% url 'review_company_profile' company.id %}">Review and Approve</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if type == 'company_profiles' %}
                    <h4>All clear. Not approval pending.</h4>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
