{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
Unapproved: Jobs
{% endblock %}

{% block account_setting%}
<p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Unapproved Jobs and Internships:</h2>
<hr>
<div class="col-md-12">
    {% if job_list.count > 0 %}
    <h3>Jobs</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Job Designation</th>
            <th>Owner</th>
            <th>Posted On</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for job in job_list %}
        <tr>
            <td>{{ job.designation }}</td>
            <td>
                {% if job.alum_owner %}
                {{ job.alum_owner }}
                {% else %}
                {{ job.company_owner.company_name }}
                {% endif %}
            </td>
            <td>{{ job.posted_on }}</td>
            <td><a href="{% url 'review_job' job.id %}" class="btn btn-xs btn-info">Details</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h4>All clear. No Job Approvals pending.</h4>
    {% endif %}

    {% if intern_list.count > 0 %}
        <h3>Internships</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Intern Designation</th>
                    <th>Owner</th>
                    <th>Posted On</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for intern in intern_list %}
                    <tr>
                        <td>{{ intern.designation }}</td>
                        <td>{{ intern.company_owner.company_name }}</td>
                        <td>{{ intern.posted_on}}</td>
                        <td>
                            <a href="{% url 'internships:admin_intern_details' intern.id %}"
                            class="btn btn-xs btn-primary">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    {% endif %}
</div>
{% endblock %}