{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
Unapproved: Place
{% endblock %}

{% block account_setting%}
<p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}


<h2 class="sub-header">Unapproved Place</h2>
<hr>
<div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#student_list" aria-controls="student_list" role="tab" data-toggle="tab">Students</a>
        </li>
        <li role="presentation">
            <a href="#alum_list" aria-controls="alum_list" role="tab" data-toggle="tab">Alum</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="student_list">
            <h3>Student Placements</h3>
            {% if student_list.count > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Year</th>
                    <th>Profile</th>
                    <th>Job Designation</th>
                    <th>Job Owner</th>
                    <th>Approve</th>
                </tr>
                </thead>
                <tbody>
                {% for stud in student_list %}
                <tr>
                    <td>{{ stud.stud.first_name|capfirst}} {{stud.stud.last_name|capfirst}}</td>
                    <td>{{ stud.stud.dept }}</td>
                    <td>{{ stud.stud.year }}</td>
                    <td><a href="{% url 'review_stud_profile' stud.stud.id %}">{{ stud.stud.roll_no }}</a></td>
                    <td><a href="{% url 'review_job' stud.job.id %}">{{ stud.job.designation }}</a></td>
                    <td>{{ stud.job.alumowner }}{{ stud.job.company_owner }}</td>
                    <td>Approve</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4>All clear. No approval pending.</h4>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="alum_list">
            <h3>Alumni Placements</h3>
            {% if alum_list%}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Webmail</th>
                    <th>Alternate Email</th>
                    <th>Profile</th>
                    <th>Job Designation</th>
                    <th>Owner</th>
                    <th>Approve</th>
                </tr>
                </thead>
                <tbody>
                {% for alum in alum_list %}
                <tr>
                    <td>{{ alum.alum.iitg_webmail }}</td>
                    <td>{{ alum.alum.alternate_email }}</td>
                    <td><a href="">{{ alum.alum.iitg_webmail }}</a></td>
                    <th><a href="{% url 'review_job' alum.job.id %}">{{ alum.job.designation }}</a></th>
                    <th>{{ alum.job.alum_owner }}{{ alum.job.company_owner }}</th>
                    <th>Approve</th>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            {% else %}
            <h4>All clear. No approval pending.</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
