{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
Unapproved: PPO
{% endblock %}

{% block account_setting%}
<p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}

<h2 class="sub-header">Unapproved PPO</h2>
<hr>
<div class="col-md-12">
    <h3>Approval needed for these requests:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>J/I</th>
                <th>S/A</th>
                <th>Name</th>
                <th>Request</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for rel in job_shortlist %}
                <tr>
                    <td>Job</td>
                    <td>Student</td>
                    <td>{{rel.stud.first_name}}</td>
                    <td>Shortlist</td>
                    <td>
                        <a href="{% url 'approve_action' 'stud' rel.id %}" class="btn btn-xs btn-info">
                            Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% for rel in job_place %}
                <tr>
                    <td>Job</td>
                    <td>Student</td>
                    <td>{{ rel.stud.first_name}}</td>
                    <td>Placement</td>
                    <td>
                        <a href="{% url 'approve_action' 'stud' rel.id %}" class="btn btn-xs btn-info">
                            Details
                        </a>
                    </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock %}