{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
Unapproved: Jobs
{% endblock %}

{% block account_setting%}
<p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Unapproved Job</h2>
<hr>
<div class="col-md-9">
    {% if job_list.count > 0 %}
    <h3>Jobs</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Job Designation</th>
            <th>Owner</th>
            <th>Review and Approve</th>
        </tr>
        </thead>
        <tbody>
        {% for job in job_list %}
        <tr>
            <td>{{ job.designation }}</td>
            <td>
                {% if job.alum_owner %}
                {{ job.alum_owner }}
                {% else %}
                {{ job.company_owner }}
                {% endif %}
            </td>
            <td><a href="{% url 'review_job' job.id %}">Review and Approve</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>All clear. No approval pending.</h4>
    {% endif %}
</div>
{% endblock %}