{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}
Unapproved: PPO
{% endblock %}

{% block account_setting%}
<p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}

<h2 class="sub-header">Unapproved PPO</h2>
<hr>
<div class="col-md-9">
    {% if ppo_list.count > 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Stud Name</th>
            <th>Job Title</th>
            <th>ppo_init</th>
        </tr>
        </thead>
        <tbody class="searchable">
        <tr>
            {% for ppo in ppo_list %}
            <td>{{ ppo.stud.first_name }}</td>
            <td>{{ ppo.job.title }}</td>
            <td>{{ ppo.ppo_init }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
    {% else %}
    <h4>All clear.</h4>
    {% endif %}
</div>
{% endblock %}