{% extends 'base_jobportal.html' %}
{% load staticfiles %}

{% block head_extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% endblock %}

{% block account_setting%}
<p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Recruiter <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'companyhome' %}" title="Company Home">Home</a></li>
    <li><a href="{% url 'companyprofile' %}" title="Profile">Company Profile</a></li>
    <li><a href="{% url 'companyaddjob' %}" title="View Jobs">Post New Jobs</a></li>
    <li><a href="{% url 'companyviewjobs' %}" title="View Jobs">View Jobs</a></li>
    <li><a href="{% url 'companyrequestevent' %}" title="Request Event">Request Events</a></li>
    <li><a href="{% url 'companyeventsandstatus' %}" title="Events and Status">Events and Status</a></li>
    <li><a href="{% url 'password_change_company' %}" title="Change Password">Change Password</a></li>
{% endblock %}

{% block content %}
<h2 class="sub-header">Jobs/Internships posted:</h2>
<hr/>
<div class="col-md-12">
    <h3>JobProgFormSet</h3>
    <form id='myForm' action="{% url 'company_add_progs' job_instance.id %}" method="post" accept-charset="utf-8">
        <table>
            {% csrf_token %}
            {{ formset.management_form }}
            <tbody>
            {% for form in formset %}
            <tr>
                {% for hidden in form.hidden_fields %}
                <td>{{hidden}}</td>
                {% endfor %}
                {% for field in form.visible_fields%}
                <td>{{field}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
</div>

{% endblock %}
