{% extends 'base_company.html' %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Interested candidates</h2>
        <hr/>
        <div class="col-md-12">
            <h4><strong>Students:</strong></h4>
            {% for stud in stud_list %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Department</th>
                            <th>Year</th>
                            <th>Action</th>
                            <th>Download CVs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ stud.first_name | capfirst}} {{ stud.middle_name | capfirst }} {{ stud.last_name | capfirst}}</td>
                            <td>{{ stud.roll_no }}</td>
                            <td>{{ stud.dept }}</td>
                            <td>{{ stud.year}}</td>
                            <td>
                                {% if hide_jobaction %}
                                    <a class='inline' href="{% url 'jobaction' jobid stud.id %}">Take action</a>
                                {% else %}
                                    <a href="{% url 'jobaction' jobid stud.id %}">Take action</a>
                                {% endif %}
                            </td>
                            <td><a class="btn btn-xs btn-info" href="{% url 'download_cvs' jobid %}"><span class="glyphicon glyphicon-download-alt"></span> Download CVs</a></td>
                        </tr>
                    </tbody>
                </table>
                <p><a class="btn btn-info " href="{% url 'printcsv' jobid %}">Print Student Details</a></p>
            {% empty %}
                <p>No student have applied for this position.</p>
            {% endfor %}
            <br>
            <h4><strong>Alumni:</strong></h4>
            {% for alum in alum_list %}
                <table class="table">

                    <thead>
                        <tr>
                            <th>Webmail</th>
                            <th>Department</th>
                            <th>Programme</th>
                            <th>CV1</th>
                            <th>CV2</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ alum.iitg_webmail }}</td>
                            <td>{{ alum.dept }}</td>
                            <td>{{ alum.programme}}</td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                {% if hide_jobaction %}
                                    Hide
                                {% else %}
                                    <a href="{% url 'jobaction2' jobid alum.id %}">Take action</a>
                                {% endif %}

                            </td>
                        </tr>
                    </tbody>
                </table>
            {% empty %}
                <p>No alumni have applied for this position.</p>
            {% endfor %}
        </div>

{% endblock %}