{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
    <li class="account-nav-head">Recruiter <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'companyhome' %}" title="Company Home">Home</a></li>
    <li><a href="{% url 'companyprofile' %}" title="Profile">Company Profile</a></li>
    <li><a href="{% url 'companyaddjob' %}" title="View Jobs">Post New Jobs</a></li>
    <li><a href="{% url 'companyviewjobs' %}" title="View Jobs">View Jobs</a></li>
    <li><a href="{% url 'companyrequestevent' %}" title="Request Event">Request Events</a></li>
    <li><a href="{% url 'companyeventsandstatus' %}" title="Events and Status">Events and Status</a></li>
    <li><a href="{% url 'password_change_company' %}" title="Change Password">Change Password</a></li>
{% endblock %}

{% block content %}
    <h2 class="sub-header">Edit Job</h2>
    <hr>
        <div class="col-md-9 well">
            {% if job.approved == True %}
                <p><span style="color: red">The job has been already approved. It can't be edited now.</span></p>
                <p><span style="color: red">Contact administrator for more information.</span></p>
            {% else %}

                <form action="{% url 'companyeditjob' job.id %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {% crispy edit_job_form edit_job_form.helper %}
                    <!--<input type="submit" class="btn btn-success" value="Save">-->
                </form>
            {% endif %}
        </div>
{% endblock %}