{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Edit Profile</h2>
        <hr>
        <div class="col-md-6">
            <form action="{% url 'editcompanyprofile' company_instance_id %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <div class="well">
                    {% crispy edit_profile_form edit_profile_form.helper %}
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
{% endblock %}