{% extends 'base_company.html' %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}


{% block content %}
	<h2 class="sub-header">Events</h2>
	<hr>
        <div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Event</th>
						<th>Date #1</th>
						<th>Date #2</th>
						<th>Date #3</th>
						<th>Event Finalised</th>
						<th>Date Finalised</th>
					</tr>
				</thead>
				<tbody>
					{% for event in event_list %}
						<tr>
							<td>{{ event.title | capfirst }}</td>
							<td>{{ event.date1 }}</td>
							<td>{{ event.date2 }}</td>
							<td>{{ event.date3  }}</td>
							<td>{{ event.finalised | yesno:"Finalised, Not Finalised" | capfirst }}</td>
							<td>{{ event.final_date }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
			<p><button class="btn btn-info"><a href="{% url 'pdfgen' %}" title="PDF", target="_blank"><span class="glyphicon glyphicon-save-file"></span> PDF</a></button></p>
		</div>
	<br>
{% endblock %}