{% extends 'base_company.html' %}

{% block account_setting%}
<p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Jobs Details:</h2>
<hr/>
<div class="col-md-12">
    <p>Description: {{job_instance.description}}</p>
    <p>Designation: {{job_instance.designation}}</p>
    <br>
    <h4>Programmes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Dept</th>
                <th>Prog</th>
            </tr>
        </thead>
        <tbody>
            {% for prog in rel_list %}
                <tr>
                    <td>{{prog.year}}</td>
                    <td>{{prog.dept}}</td>
                    <td>{{prog.prog}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'company_add_progs' job_instance.id %}" class="btn btn-primary">Add Programmes</a></p>
    <p><a href="{% url 'companycandidates' job_instance.id %}" class="btn btn-primary">View Candidates</a></p>
</div>

{% endblock %}
