{% extends 'base_company.html' %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Job Actions</h2>
        <hr>
        <div class="col-md-9">
            <!--Student Candidate-->
            {% if stud_instance %}
                <table class="table table-striped">

                    <tr>
                        <td>Name: </td>
                        <td>{{ stud_instance.first_name }} {{ stud_instance.middle_name }} {{ stud_instance.last_name }}</td>
                    </tr>
                    <tr>
                        <td>CPI</td>
                        <td>{{ stud_instance.cpi }}</td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>{{ stud_instance.dept.dept }}</td>
                    </tr>
                    <tr>
                        <td>Year of Admission</td>
                        <td>{{ stud_instance.year }}</td>
                    </tr>
                    <tr>
                        <td>Programme</td>
                        <td>{{ stud_instance.prog }}</td>
                    </tr>
                </table>
                <!--TODO: Add more student details-->
                <!--TODO: Add CV links-->
                <h4>Application Status</h4>
                {% if relation_instance.placed_approved %}
                    <p>Placement requested already approved by Placement Cell.</p>
                {% else %}
                    {% if relation_instance.placed_init %}
                        <p>You've initiated placement process and approval is pending from administrator. </p>
                    {% else %}
                        {% if relation_instance.shortlist_init %}
                            <p>You've shortlisted this application but haven't marked it placed yet.</p>
                            {% if relation_instance.shortlist_approved %}
                                <p>Shortlist request approved by Administrator.</p>
                                <p>Application open for hiring.</p>
                                <p>Mark Placed by click this:  <a href="{% url 'place' relation_instance.id %}" class="btn btn-success">Place</a>
                            {% else %}
                                <p>Shortlist request yet to be approved by Administrator.</p>
                            {% endif %}
                        {% else %}
                            <p>This application haven't been shortlisted yet.</p>
                            <p>Shortlist this application: <a href="{% url 'shortlist' relation_instance.id %}" class="btn btn-success">Add to Shortlist</a> </p>
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endif %}
            <!--Alumni Candidate-->
            {% if alum_instance %}
                <p>Alum name: {{ alum_instance }}</p>
                {% if relation_instance.placed_approved %}
                    <p>Placement requested already approved by Placement Cell.</p>
                    <p>Shortlisted : {{ relation_instance.shortlist_status | yesno:"Yes,No" }}</p>
                    <p>Add to Shortlist: <a href="{% url 'shortlist2' relation_instance.id %}">Add</a></p>
                {% else %}
                    {% if relation_instance.placed_init %}
                        <p>You've initiated placement process and approval is pending from administrator. </p>
                        <p>After approval, no change can be made to process.</p>
                        <p>To Undo: <a href="{% url 'unplace2' relation_instance.id %}">Undo Placed</a></p>
                    {% else %}
                        {% if relation_instance.shortlist_status %}
                            <p>You've shortlisted this application but haven't marked it placed yet.</p>
                            <p>Mark Placed by click this:  <a href="{% url 'place' relation_instance.id %}">Place</a></p>
                            <p>OR</p>
                            <p>To undo shortlisting process: <a href="{% url 'unshortlist2' relation_instance.id %}">Remove from Shortlist</a></p>
                        {% else %}
                            <p>This application haven't been shortlisted yet.</p>
                            <p>Shortlist this application: <a href="{% url 'shortlist2' relation_instance.id %}">Add to Shortlist</a> </p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
{% endblock %}