{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Recruiter <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'companyhome' %}" title="Company Home">Home</a></li>
<li><a href="{% url 'companyprofile' %}" title="Profile">Company Profile</a></li>
<li><a href="{% url 'companyaddjob' %}" title="View Jobs">Post New Jobs</a></li>
<li><a href="{% url 'companyviewjobs' %}" title="View Jobs">View Jobs</a></li>
<li><a href="{% url 'companyrequestevent' %}" title="Request Event">Request Events</a></li>
<li><a href="{% url 'companyeventsandstatus' %}" title="Events and Status">Events and Status</a></li>
<li><a href="{% url 'password_change_company' %}" title="Change Password">Change Password</a></li>
{% endblock %}

{% block content %}
<h3>Request for a New Event</h3>
<hr/>
<h4>Please fill up the following form for the event request</h4>
<div class="col-md-8">
    <div class="well">
        <form action="{% url 'companyrequestevent'  %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ event_form | crispy }}
            <input type="submit" class="btn btn-success" value="Send Request">
        </form>
    </div>
</div>
{% endblock %}