{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h3>Request for a New Event</h3>
<hr/>
<h4>Please fill up the following form for the event request</h4>
<div class="col-md-8">
    <div class="well">
        <form action="{% url 'companyrequestevent'  %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ event_form | crispy }}
            <input type="submit" class="btn btn-success" value="Send Request">
        </form>
    </div>
</div>
{% endblock %}