{% extends 'base_jobportal.html' %}

{% block account_setting%}
<p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<a href="/jobportal"><li>Welcome</li></a>
<a href="{% url 'stud_login' %}"><li>Login</li></a>
<a href="{% url 'signup' %}"><li>Recruiters Signup</li></a>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">Your request has been received by Placement Cell.</div>
<p><a href="{% url 'index' %}">Return to homepage</a></p>
{% endblock %}