{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block menu %}
    <a href="/jobportal"><li>Welcome</li></a>
    <a href="{% url 'stud_login' %}"><li>Login</li></a>
    <a href="{% url 'signup' %}"><li>Recruiters Signup</li></a>
{% endblock %}

{% block content %}
        <h2 class="sub-header">Recruiters' Registration Form</h2>
        <hr/>
        <h4>Fill all the required details:</h4>
        <div class="col-md-10">
            <form action="{% url 'signup' %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <div class="well">
                    {% crispy signup_form signup_form.helper %}
                    <!--<input type="submit" class="btn btn-primary" value="Sign Up" >-->
                </div>
            </form>
        </div>
{% endblock %}