{% extends 'base_mentormentee.html' %}
{% load crispy_forms_tags %}
{% block menu %}
<li class="account-nav-head">Alumni <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'alum_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="{% url 'availablejobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Jobs/Internship</a></li>
<li><a href="{% url 'alum_jobsappliedfor' %}" title=""><span class="glyphicon glyphicon-ok"></span> Jobs applied for</a>
</li>
<li><a href="{% url 'postalumjob' %}" title="Post a new job"><span class="glyphicon glyphicon-plus"></span> Post a new
    Job</a></li>
<li><a href="{% url 'viewalumjob' %}" title="View posted jobs">View posted jobs</a></li>
<li><a href="{% url 'mentormentee:add_proposal' %}" title="Add a new proposal"><span
        class="glyphicon glyphicon-plus"></span> Add new research proposal</a></li>
<li><a href="{% url 'mentormentee:alum_proposals' %}" title="View all proposals">View proposals</a></li>
<li><a href="{% url 'alum_logout' %}" title="alum_logout">Logout</a></li>
{% endblock %}
{% block content %}

<h2 class="sub-header">Edit existing research proposal</h2>
<hr>
<div class="col-md-6">
    <form action="{% url 'mentormentee:edit_proposal' proposalid %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="well">
            {% crispy proposal_edit_form proposal_edit_form.helper %}
            <input class="btn btn-primary" type="submit" value="Save">
        </div>
    </form>
</div>
{% endblock %}