{% extends 'base_mentormentee.html' %}
{% block menu %}
<li class="account-nav-head">Alumni <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'alum_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="{% url 'availablejobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Jobs/Internship</a></li>
<li><a href="{% url 'alum_jobsappliedfor' %}" title=""><span class="glyphicon glyphicon-ok"></span> Jobs applied for</a>
</li>
<li><a href="{% url 'postalumjob' %}" title="Post a new job"><span class="glyphicon glyphicon-plus"></span> Post a new
    Job</a></li>
<li><a href="{% url 'viewalumjob' %}" title="View posted jobs">View posted jobs</a></li>
<li><a href="{% url 'mentormentee:add_proposal' %}" title="Add a new proposal"><span
        class="glyphicon glyphicon-plus"></span> Add new research proposal</a></li>
<li><a href="{% url 'mentormentee:alum_proposals' %}" title="View all proposals">View proposals</a></li>
<li><a href="{% url 'alum_logout' %}" title="alum_logout">Logout</a></li>
{% endblock %}
{% block content %}

        <h2 class="sub-header">Applicant Profile:</h2>
        <hr>
        <div class="col-md-12">
            <p>Name: {{ relation_instance.stud.first_name }} {{ relation_instance.stud.middle_name }} {{ relation_instance.stud.last_name }}</p>
            <p>Year: {{ relation_instance.stud.year }}</p>
            <p>Department: {{ relation_instance.stud.dept }}</p>
            <p>Roll No: {{ relation_instance.stud.roll_no }}</p>
            <p>Max_hours: {{ relation_instance.max_hours }}</p>
            <p>Writeup: {{ relation_instance.writeup }}</p>
        </div>

        <h2>Report</h2>
        <div class="col-md-9">
            {% if relation_instance.report_byAlum %}
                <p>You've already reported this student on {{ relation_instance.report_byAlum_date }}</p>
            {% else %}
                <a href="{% url 'mentormentee:report_stud' relation_instance.id %}">Report This Student</a>
            {% endif %}
            <hr>
        </div>


{% endblock %}