{% extends 'base_student.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'stud_logout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Select CVs</h2>
        <hr>
        <h4>CVs you select here will be attached with your application:</h4>
        <div class="col-md-6">
            <form method="post" action="{% url 'internships:stud_intern_apply' internid %}">
                <div class="well">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-primary" value="Apply" type="submit">
                </div>
            </form>
        </div>

{% endblock %}