a, a:active, a:focus {
    outline: none;
}
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

/*======================CSS FOR BASE PAGE==========================*/

/****************GENERAL RULES****************/
body{
	background: #F9F9F9 url("../img/symphony.png") repeat scroll 0% 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
a, a:hover, a:active{
	text-decoration: none;
	color: black;
}
th.header{
	background-color: #00b6b6;
	box-shadow: none;
}
.intext_link, .intext_link:hover{
	text-transform: uppercase;
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

/***********TYPOGRAPHY************/
.h1, .h2, .h3, h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	color: #00b6b6;
	margin-top: 10px;
}
p{
	text-align: justify;
}
hr{
	margin-top:0;
	border:1px solid #00b6b6;
}
span.badge{
	position: relative;
	text-align: right;
}

/**********BUTTONS************/
.btn{
	background: transparent;
	/*box-shadow: 0px 2px grey;*/
	color: #00b6b6;
	border: 1px solid #00b6b6;
}
.btn:hover{
	/*transform:translate(0px,1px);*/
	/*box-shadow: 0px 1px grey;*/
	background-color: #00b6b6;
	border: 1px solid #00b6b6;
}
.btn:focus, .btn:active{
	background-color: #00b6b6;
	border: 1px solid #00b6b6;
	/*transform:translate(0px,2px);*/
	/*box-shadow: none;*/
	/*outline: none !important;*/
	/*border:none;*/
}


/*******************HEADER********************/
.account-setting-container{
	padding-top: 5px;
	margin:0;
	right: 8%;
	float: right;
	position: relative;
	font-size: 1.1em;
}
.account-setting-container p{
	float: right;
	margin-left: 15px;
}
.page-header{
	background-size: 100% auto;
	background-color: #b60000;
	height: 231px;
	margin-top: 35px;
	/*background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(131,0,11,0.9)), to(rgba(255,255,255,0)));*/
	/*background-image: -moz-linear-gradient(rgba(255, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 95%);*/
}
.page-header #iitg_logo_img{
	position: relative;
	top: -35px;
	display: block-inline;
	margin-left: 6.5%;
	width: 90px;
}
.page-header #name{
	display: inline;
	position: relative;
	font-family: 'Allura', cursive;
	top: -12px;
	color: black;
	font-size: 3.4em;
}
.page-header #hero_container{
	background-image: url('../img/hero6_new.jpg');
	background-size: 1200px 1000px;
	background-position: 0px -420px;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	top: -30px;
	width: 85%;
	height: 170px;
}
.page-header #layer{
	background-image: url('../img/az-subtle.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*******************CONTENT CONTAINER********************/
.content-container{
	padding:0;
	top: -32px;
}
.navbar-container{
	padding: 0;
	margin-top:0;
}
.right-section{
	background-color: white;
	z-index: 1000;
	padding: 15px 13px 10px 13px;
	min-height: 450px;
	border-top: 5px solid #00b6b6;
	box-shadow: -4px 0px 10px;
	-webkit-box-shadow: -4px 0px 10px;
	-moz-box-shadow: -4px 0px 10px; 
}
.right-section .account-login{
	padding-top: 30px;
}
.navbar{
	font-size: 1.2em;
	padding: 0;
	list-style: outside none none;
	text-transform: uppercase;
	font-family: Arial,sans-serif;
	border-radius: 0;
	top: -1px;
}
.navbar a, .navbar a:active{
	color: #fff;
	text-decoration: none;
}
.navbar li{
	margin:0;
	padding-left: 22px;
	padding-right: 20px;
	line-height: 30px;
	background-color: #BDB7B1;	
	border-bottom: 1px solid #ACA59D;
	border-left:1px solid #ACA59D;
}
li.account-nav-head{
	background-color: #b60000;
	color: #fff;
	margin:0;
	padding-left: 15px;
}
.navbar .glyphicon{
	color: #b60000;
}

/*******************FOOTER********************/
.footer{
    background-color: #b60000;
    height: 50px;
	box-shadow: -4px 4px 10px; 
	-webkit-box-shadow: -4px 4px 10px; 
	-moz-box-shadow: -4px 4px 10px; 
}


/********************HACKS********************/
border{
	border:1px solid blue;
}
#welcome-middle-panel{
	border-right: 1px solid #8A8A8A;
}
.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:active{
	color: #337ab7;
	text-decoration: none;
}
.textarea, .select{
    width: 100%;
}

form{
	margin:10px auto 10px auto;
}
form .form-group{
	margin-left: auto;
	margin-right: auto;
}
.view_cv_box{
	width: 100px;
	border-radius: 100px;
	border:1px solid grey;
	font-size: 1.3em;
}

/*=====================CSS FOR ACCOUNTS===========================*/
.profile-box{
	width:95%;
	margin:auto auto auto auto;
	margin-bottom: 20px;
}
.profile-box .thumbnail{
	margin-bottom: 0px;
}
.profile-box p{
	margin: 15px auto auto 25px;
}
.user-img-holder{
	height: 100px;
	width: 100px;
}
.logout_img{
	background-image: url('../img/bye.png');
	background-repeat: no-repeat;
	margin-top: 8%;
	height: 100px;
}
