{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
    <h2 class="sub-header">Edit Internship(s):</h2>
    <hr>
        <div class="col-md-9 well">
                {% if intern.approved == True %}
                    <p><span style="color: red">This internship has been already approved. It can't be edited now.</span></p>
                    <p><span style="color: red">Contact administrator for more information.</span></p>
                {% else %}
                    <form action="{% url 'internships:rec_edit_intern' intern.id %}" method="post" accept-charset="utf-8">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" class="btn btn-success" value="Save">
                    </form>
                {% endif %}
            </div>
{% endblock %}