{% extends 'base_internships.html' %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
    <li class="account-nav-head">Recruiter <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'companyhome' %}" title="Company Home">Home</a></li>
    <li><a href="{% url 'companyprofile' %}" title="Profile">Company Profile</a></li>
    <li><a href="{% url 'companyaddjob' %}" title="View Jobs">Post New Jobs</a></li>
    <li><a href="{% url 'companyviewjobs' %}" title="View Jobs">View Jobs</a></li>
    <li><a href="{% url 'companyrequestevent' %}" title="Request Event">Request Events</a></li>
    <li><a href="{% url 'companyeventsandstatus' %}" title="Events and Status">Events and Status</a></li>
    <li><a href="{% url 'password_change_company' %}" title="Change Password">Change Password</a></li>
{% endblock %}

{% block content %}
        <h2 class="sub-header">Internship Actions</h2>
        <hr>
        <h4>Internship Designation : {{ rel.intern.designation }}</h4>

        <div class="col-md-9">
            <!--Student Candidate-->
            {% if rel %}
                <h4>Student Details:</h4>
                <p>Stud name: {{ rel.stud.first_name }}</p>
                <p>CPI : {{ rel.stud.cpi }}</p>
                <p>Department : {{ rel.stud.dept.dept }}</p>
                <p>Batch : {{ rel.stud.year }}</p>
                <!--TODO: Add more student details-->
                <!--TODO: Add CV links-->
                <h4>Application Status</h4>
                {% if rel.dropped == True%}
                    <p>Candidate was dropped in Round #{{rel.round}}</p>
                {% else%}
                    {% if rel.shortlist_init == True %}
                        <p>Student shortlisted.</p>
                        {% if rel.shortlist_approved == True %}
                            <p>Shortlist request Approved</p>
                            {% if rel.intern_init == True %}
                                {% if rel.intern_approved == True%}
                                    <p>Intern hiring request approved</p>
                                    {% if rel.ppo_init == True %}

                                        {% if rel.ppo_approved == True %}
                                            <p>PPO Approved</p>
                                        {% elif rel.ppo_approved == False %}
                                            <p>PPO Approval request declined</p>
                                        {% else %}
                                            <p>PPO Approval awaiting</p>
                                        {% endif %}

                                    {% else %}
                                        <p>Student not picked for PPO.</p>
                                    {% endif %}

                                {% elif rel.intern_approved == False %}
                                    <p>Intern hiring request declined.</p>
                                {% else %}
                                    <p>Intern hiring approval pending.</p>
                                {% endif %}

                            {% else %}
                                <p>Intern_init is false.</p>
                            {% endif %}
                        {% elif rel.shortlist_approved == False %}
                            <p>Shortlist approval request declined</p>
                        {% else %}
                            <p>Shortlist approval awaiting</p>
                        {% endif %}
                    {% else%}
                        <p>Candidate not Shortlisted</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
{% endblock %}