{% extends 'base_company.html' %}

{% block account_setting%}
<p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Jobs Details:</h2>
<hr/>
<div class="col-md-12">
    <p>Description: {{intern.description}}</p>
    <p>Designation: {{intern.designation}}</p>
    <br>
    <h4>Programmes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Dept</th>
                <th>Prog</th>
            </tr>
        </thead>
        <tbody>
            {% for prog in prog_list %}
                <tr>
                    <td>
                        {% if prog.year%}
                            {{prog.year}}
                        {%endif%}
                    </td>
                    <td>
                        {% if prog.dept%}
                            {{prog.dept}}
                        {%endif%}
                    </td>
                    <td>
                        {% if prog.prog%}
                            {{prog.prog}}
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'internships:rec_add_progs' intern.id %}" class="btn btn-primary">Add Programmes</a></p>
    <p><a href="{% url 'internships:rec_intern_candiadtes' intern.id %}" class="btn btn-primary">View Candidates</a></p>
</div>

{% endblock %}
