{% extends 'base_jobportal.html' %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
    <li class="account-nav-head">Recruiter <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'companyhome' %}" title="Company Home">Home</a></li>
    <li><a href="{% url 'companyprofile' %}" title="Profile">Company Profile</a></li>
    <li><a href="{% url 'companyaddjob' %}" title="View Jobs">Post New Jobs</a></li>
    <li><a href="{% url 'companyviewjobs' %}" title="View Jobs">View Jobs</a></li>
    <li><a href="{% url 'companyrequestevent' %}" title="Request Event">Request Events</a></li>
    <li><a href="{% url 'companyeventsandstatus' %}" title="Events and Status">Events and Status</a></li>
    <li><a href="{% url 'password_change_company' %}" title="Change Password">Change Password</a></li>
{% endblock %}

{% block content %}
        <h2 class="sub-header">Interested candidates</h2>
        <hr/>
        <div class="col-md-12">
            <h4><strong>Students:</strong></h4>
            <div class="col-md-12">
                <div class="pull-right span4">
                    <a class="btn btn-info" href="{% url 'internships:rec_intern_drop' intern.id %}">Complete Round</a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-12">
            {% for stud_rel in stud_rel_list %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Department</th>
                            <th>Round</th>
                            <th>Status</th>
                            <th>Full Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ stud_rel.stud.first_name | capfirst}} {{ stud_rel.stud.middle_name | capfirst }} {{ stud_rel.stud.last_name | capfirst}}</td>
                            <td>{{ stud_rel.stud.roll_no }}</td>
                            <td>{{ stud_rel.stud.dept }}</td>
                            <td>{{ stud_rel.round }}</td>
                            <td>
                                {% if stud_rel.dropped %}
                                    <span class="label label-danger">Dropped</span>
                                {% else %}
                                    {% if stud_rel.shortlist_init %}
                                        <span class="label label-success">Shortlisted</span>
                                        {% if stud_rel.shortlist_approved == True %}
                                            <span class="label label-success">Shortlist Approved</span>
                                            {% if stud_rel.intern_init %}
                                                <span class="label label-success">Intern Request</span>
                                                {% if stud_rel.intern_approved == True %}
                                                    <span class="label label-success">Intern Approved</span>
                                                {% elif stud_rel.intern_approved == False %}
                                                    <span class="label label-danger">Intern Rejected</span>
                                                {% else %}
                                                    <span class="label label-success">Intern Approval Pending</span>
                                                {% endif %}
                                            {% else %}
                                                <span class="label label-danger">No Intern Request</span>
                                            {% endif %}
                                        {% elif stud_rel.shortlist_approved == False %}
                                            <span class="label label-danger">Shortlist Rejected</span>
                                        {% else %}
                                            <span class="label label-default">Shortlist Approved Pending</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="label label-danger">Not Shortlisted</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td><a href="{% url 'internships:rec_intern_rel' stud_rel.id %}" class="btn btn-xs btn-info">Student Profile</a></td>
                        </tr>
                    </tbody>
                </table>
            {% empty %}
                <p>No student have applied for this position.</p>
            {% endfor %}
            </div>
        </div>
{% endblock %}