{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'stud_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Student <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'stud_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="{% url 'studviewjobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Jobs/Internship</a></li>
<li><a href="{% url 'stud_jobsappliedfor' %}" title=""><span class="glyphicon glyphicon-ok"></span> Jobs applied for</a>
</li>
<li><a href="{% url 'editstudprofile' %}"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a></li>
<li><a href="{% url 'viewcvs' %}"><span class="glyphicon glyphicon-upload"></span> Upload CV</a></li>
<li><a href="{% url 'viewevents' %}"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
<li><a href="{% url 'mentormentee:stud_proposals' %}"><span class="glyphicon glyphicon-inbox"></span> Research Proposals</a>
</li>

{% endblock %}

{% block content %}
<h2 class="sub-header">Upload CVs</h2>
<hr/>
<div class="col-md-9">
    <form enctype="multipart/form-data" action="{% url 'cvupload' %}" method="post" accept-charset="utf-8">
        <div class="well">
            {% csrf_token %}
            {% crispy cv_upload_form cv_upload_form.helper %}
            <input type="submit" class="btn btn-primary" value="Upload">
        </div>
    </form>
</div>
{% endblock %}