{% extends 'base_student.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'stud_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Upload CVs</h2>
<hr/>
<div class="col-md-9">
    <form enctype="multipart/form-data" action="{% url 'cvupload' %}" method="post" accept-charset="utf-8">
        <div class="well">
            {% csrf_token %}
            {% crispy cv_upload_form cv_upload_form.helper %}
            <input type="submit" class="btn btn-primary" value="Upload">
        </div>
    </form>
</div>
{% endblock %}