{% extends 'base_student.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'stud_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Company Profile and Job Details</h2>
<hr/>

<div class="col-md-12">
    {% if job_instance.posted_by_alumnus == True %}
    <h4><strong>Alum Details</strong></h4>
    {% elif job_instance.posted_by_company == True %}
    <h4><strong>Company Details</strong></h4>
    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>{{ job_instance.company_owner.company_name }}</td>
        </tr>
        <tr>
            <td >Description</td>
            <td >{{ job_instance.company_owner.description }}</td>
        </tr>
        <tr >
            <td >Website</td>
            <td >{{ job_instance.company_owner.website }}</td>
        </tr>
        <tr >
            <td >Organization Type</td>
            <td >{{ job_instance.company_owner.organization_type }}</td>
        </tr>
        <tr >
            <td >Industry Sector</td>
            <td >{{ job_instance.company_owner.industry_sector }}</td>
        </tr>
    </table>
    {% endif %}
    <h4><strong>Job Details</strong></h4>
    <table class="table table-striped">
        <tr >
            <td >Designation</td>
            <td >{{ job_instance.designation }}</td>
        </tr>
        <tr >
            <td >Description</td>
            <td >{{ job_instance.description }}</td>
        </tr>
        <tr >
            <td >Openings</td>
            <td >{{ job_instance.num_openings }}</td>
        </tr>
        <tr >
            <td >Other Requirements</td>
            <td >{{ job_instance.other_requirements }}</td>
        </tr>
        <tr >
            <td >Take home during training</td>
            <td >{{ job_instance.take_home_during_training }}</td>
        </tr>
        <tr >
            <td >Take home after training</td>
            <td >{{ job_instance.take_home_after_training }}</td>
        </tr>
    </table>
</div>

<div>
    {% if relation_instance %}
        {% if deadline_gone %}
            <div class="alert alert-danger" role="alert">
                <p>
                    <strong>Deadline has passed.</strong>
                    You can only view status of your application.</p>
            </div>
            <h3>Status of application:</h3>
            <p>
                Shortlist Init: {{ relation_instance.shortlist_init | yesno:"Yes,No" }}
                {% if relation_instance.shortlist_init == True %}
                    <span class="label label-success">Shortlist-Init</span>
                {% elif relation_instance.shortlist_init == False%}
                    <span class="label label-danger">Shortlist-Init</span>
                {% endif %}
            </p>
            <p>
                Shortlist Approved: {{ relation_instance.shortlist_approved | yesno:"Yes,No,No Action Yet" }}
                {% if relation_instance.shortlist_approved == True %}
                    <span class="label label-success">Shortlist_Approved</span>
                {% elif relation_instance.shortlist_approved == False %}
                    <span class="label label-danger">Shortlist_Rejected</span>
                {% elif relation_instance.shortlist_approved == None %}
                    <span class="label label-default">No-Action-Yet</span>
                {% endif %}
            </p>
            <p>
                Placement Init: {{ relation_instance.placed_init | yesno:"Yes,No" }}
                {% if relation_instance.placed_init == True %}
                    <span class="label label-success">Place_Init</span>
                {% elif relation_instance.placed_init == False%}
                    <span class="label label-danger">Place_Init</span>
                {% endif %}
            </p>
            <p>
                Placement Approved: {{ relation_instance.placed_approved | yesno:"Yes,No,No Action Yet" }}
                {% if relation_instance.placed_approved == True %}
                    <span class="label label-success">Placed-Approved</span>
                {% elif relation_instance.placed_approved == False %}
                    <span class="label label-danger">Placed-Rejected</span>
                {% elif relation_instance.placed_approved == None %}
                    <span class="label label-default">No-Action-Yet</span>
                {% endif %}
            </p>
        {% else %}
        <p><a class="btn btn-danger" href="{% url 'deapplyforjob' job_instance.id %}" title=""><span>Remove Application</span></a></p>
        {% endif %}
    {% else %}
        {% if nocv %}
            <div class="col-md-9 bs-callout bs-callout-danger">
                <h4>No CV uploaded.</h4>
                <p>Please upload at least one CV <a class="intext_link" href="{% url 'viewcvs' %}">here</a>.</p>
                <p>Only then you'll be able to apply for job/internship positions.</p>
            </div>
        {% else %}
            <p><a class="btn btn-success" href="{% url 'applyforjob' job_instance.id %}">Apply</a></p>
        {% endif %}
    {% endif %}
</div>

<div class="col-md-12">
    {% if relation_instance %}
        <h4>Status Div (To be removed)</h4>
        <h4>Note: This div appears only after deadline has passed. Displayed here just for testing.</h4>
        <div>
            <div class="alert alert-danger" role="alert">
                    <p>
                        <strong>Deadline has passed.</strong>
                        You can only view status of your application.</p>
                </div>
                <h3>Status of application:</h3>
                <p>
                    Shortlist Init: {{ relation_instance.shortlist_init | yesno:"Yes,No" }}
                    {% if relation_instance.shortlist_init == True %}
                        <span class="label label-success">Shortlist-Init</span>
                    {% elif relation_instance.shortlist_init == False%}
                        <span class="label label-danger">Shortlist-Init</span>
                    {% endif %}
                </p>
                <p>
                    Shortlist Approved: {{ relation_instance.shortlist_approved | yesno:"Yes,No,No Action Yet" }}
                    {% if relation_instance.shortlist_approved == True %}
                        <span class="label label-success">Shortlist_Approved</span>
                    {% elif relation_instance.shortlist_approved == False %}
                        <span class="label label-danger">Shortlist_Rejected</span>
                    {% elif relation_instance.shortlist_approved == None %}
                        <span class="label label-default">No-Action-Yet</span>
                    {% endif %}
                </p>
                <p>
                    Placement Init: {{ relation_instance.placed_init | yesno:"Yes,No" }}
                    {% if relation_instance.placed_init == True %}
                        <span class="label label-success">Place_Init</span>
                    {% elif relation_instance.placed_init == False%}
                        <span class="label label-danger">Place_Init</span>
                    {% endif %}
                </p>
                <p>
                    Placement Approved: {{ relation_instance.placed_approved | yesno:"Yes,No,No Action Yet" }}
                    {% if relation_instance.placed_approved == True %}
                        <span class="label label-success">Placed-Approved</span>
                    {% elif relation_instance.placed_approved == False %}
                        <span class="label label-danger">Placed-Rejected</span>
                    {% elif relation_instance.placed_approved == None %}
                        <span class="label label-default">No-Action-Yet</span>
                    {% endif %}
                </p>
        </div>
    {% endif %}
</div>
{% endblock %}