{% extends 'base_student.html' %}

{% block account_setting%}
<p><a href="{% url 'stud_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h3>Welcome, <i>{{ stud.first_name }}</i></h3>
<p>This is your Personal Dashboard for all the functions.</p>
<hr/>

<div class="profile-box well row">
    <div class="user-img-holder thumbnail col-md-6">
        {% if stud.avatar.url %}
            <img src="{{ stud.avatar.thumbnail.200x200 }}">
        {% endif %}
    </div>
    <p class="col-md-6">Name: {{ stud.first_name }} {{ stud.last_name }}
        <br>Course:{{ stud.prog}} {{ stud.dept.dept }} {{ stud.year }}
    </p>
</div>
{% endblock %}