{% extends 'base_jobportal.html' %}

{% block account_setting%}
<p><a href="{% url 'stud_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Student <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'stud_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="{% url 'studviewjobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Jobs/Internship</a></li>
<li><a href="{% url 'stud_jobsappliedfor' %}" title=""><span class="glyphicon glyphicon-ok"></span> Jobs applied for</a>
</li>
<li><a href="{% url 'editstudprofile' %}"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a></li>
<li><a href="{% url 'viewcvs' %}"><span class="glyphicon glyphicon-upload"></span> Upload CV</a></li>
<li><a href="{% url 'viewevents' %}"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
<li><a href="{% url 'mentormentee:stud_proposals' %}"><span class="glyphicon glyphicon-inbox"></span> Research Proposals</a>
</li>

{% endblock %}

{% block content %}
<h2 class="sub-header">Student Jobs</h2>
<hr/>
<div class="col-md-12">
    {% if job_list %}
    <div class="col-md-3 input-group pull-right form-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="filter form-control" placeholder="What you looking for?">
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Designation</th>
            <th>Profile</th>
            <th>Posted on</th>
            <th>CTC</th>
            <th>Details</th>
            <th>Opening Date</th>
            <th>Deadline</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% for job in job_list %}
        <tr>
            <td>{{ job.designation }}</td>
            <td>{{ job.profile_name }}</td>
            <td>{{ job.posted_on | date:'d-N-Y' }}</td>
            <td>
                {% if stud_prog.name == 'BTECH' %}
                    {{job.ctc_btech}}
                {% elif stud_prog.name == 'MTECH' %}
                    {{job.ctc_mtech}}
                {% elif stud_prog.name == 'PHD' %}
                    {{job.ctc_phd}}
                {% endif %}
            </td>
            <td><a class="btn btn-info btn-xs" href="{% url 'jobdetails' job.id %}"><span
                class="glyphicon glyphicon-list"></span>&nbspDetails</a></td>
            <td>{{ job.opening_date | date:'d-N-Y' }}</td>
            <td>{{ job.application_deadline | date:'d-N-Y'}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No job matches your profile.</p>
    {% endif %}
    <br>
</div>
{% endblock %}