{% extends 'base_jobportal.html' %}

{% block menu %}
    <a href="/jobportal"><li>Welcome</li></a>
    <a href="{% url 'stud_login' %}"><li>Login</li></a>
    <a href="{% url 'signup' %}"><li>Recruiters Signup</li></a>
{% endblock %}

{% block content %}
    <h3>Successfully logged out.</h3>
    <hr>
    <div class="logout_img col-md-offset-5"></div>
    <h4 style="text-align:center">Thankyou for using this service</h4>
	<a style="margin-left:36%; background-color: #00d0d0; color: #fff" class="btn btn-primary" href="{% url 'index' %}" title="index">Portal Home</a>
	<a class="btn" href="{% url 'stud_login' %}" title="login">Log In Screen</a>
{% endblock %}