{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Edit Details and Click Save</h2>
        <hr>
        <div class="col-md-9">
                <form action="{% url 'internships:admin_edit_intern' internid %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <div class="well">
                        {{ form | crispy }}
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
        </div>
{% endblock %}