{% extends 'base_internships.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'admin_logout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block menu %}
<li class="account-nav-head">Admin <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'admin_home' %}">Home</a></li>
    <li><a href="{% url 'companies' %}">Companies</a><span class="badge">{{ companiescount }}</span></li>
    <li><a href="{% url 'signup_requests' %}">SignUp Requests</a><span class="badge">{{ requestscount }}</span></li>
    <li><a href="{% url 'jobs' %}">Jobs/Internships</a><span class="badge">{{ jobscount }}</span></li>
        <li><a href="{% url 'admin_approval' 'place' %}">Pending Approvals</a></li>
    <li><a href="{% url 'departments' %}">Departments</a></li>
    <li><a href="{% url 'programmes' %}">Programmes</a></li>
    <li><a href="{% url 'years' %}">Years</a></li>
    <li><a href="{% url 'admin_manage' %}">Manage Users</a></li>
{% endblock %}

{% block content %}
        <h2 class="sub-header">Edit Details and Click Save</h2>
        <hr>
        <div class="col-md-9">
                <form action="{% url 'internships:admin_edit_intern' internid %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <div class="well">
                        {{ form | crispy }}
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
        </div>
{% endblock %}