{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Alumni: Login
{% endblock %}

{% block menu %}
    <a href="/jobportal"><li>Welcome</li></a>
    <a href="{% url 'stud_login' %}"><li>Login</li></a>
    <a href="{% url 'signup' %}"><li>Recruiters Signup</li></a>
{% endblock %}

{% block content %}
	<h3>Please Select from the following options:</h3>
	<ul class="nav nav-tabs">
		<li ><a href="{% url 'stud_login' %}">Student Login Form</a></li>
		<li class="active"><a href="#">Alumni Login</a></li>
        <li><a href="{% url 'companylogin' %}">Recruiters Login</a></li>
		<li><a href="{% url 'admin_login' %}">Administrator Login</a></li>
	</ul>
	<div class="col-md-6">
		<form action="{% url 'alum_login' %}" method="post" accept-charset="utf-8">
			{% csrf_token %}

			<div class="well">
                {{ login_form | crispy }}
			    <input type="submit" class="btn btn-primary" value="Log In">
            </div>
		</form>
	</div>

{% endblock %}