{% extends 'base_alum.html' %}

{% block content %}
    <p>Job Designation : {{ job_instance.designation }}</p>
    <p></p>
    <!--Student Candidate-->
    {% if stud_instance %}
        <p>Stud name: {{ stud_instance.first_name }}</p>
        <p>CPI : {{ stud_instance.cpi }}</p>
        {% if relation_instance.shortlist_status == False %}
            <p>Shortlisted : {{ relation_instance.shortlist_status | yesno:"Yes,No" }}</p>
            <p>Add to Shortlist: <a href="{% url 'alum_shortlist' relation_instance.id %}">Add</a></p>
        {% else %}
            <p><span style="color: green">This student is already shortlisted.</span></p>
            <p>Remove from Shortlist: <a href="{% url 'alum_unshortlist' relation_instance.id %}">Remove</a></p>
            {% if relation_instance.placed_init == False %}
                <p>Placed : {{ relation_instance.placed_init | yesno:"Yes,No" }}</p>
                <p>Place : <a href="{% url 'alum_place' relation_instance.id %}">Place</a></p>
            {% else %}
                <p>Already Placed</p>
                <p>Approved: {{ relation_instance.placed_approved  | yesno:"Yes,No" }}</p>
                <p>Undo placed: <a href="{% url 'alum_unplace' relation_instance.id %}"></a></p>
            {% endif %}
        {% endif %}
    {% endif %}
    <!--Alumni Candidate-->
    {% if alum_instance %}
        <p>Stud name: {{ alum_instance }}</p>
        <p>Department : {{ alum_instance.department }}</p>
        <p>Programme : {{ alum_instance.programme }}</p>
        {% if relation_instance.shortlist_status == False %}
            <p>Shortlisted : {{ relation_instance.shortlist_status | yesno:"Yes,No" }}</p>
            <p>Add to Shortlist: <a href="{% url 'alum_shortlist2' relation_instance.id %}">Add</a></p>
        {% else %}
            <p><span style="color: green">This student is already shortlisted.</span></p>
            <p>Remove from Shortlist: <a href="{% url 'alum_unshortlist2' relation_instance.id %}">Remove</a></p>
            {% if relation_instance.placed_init == False %}
                <p>Placed : {{ relation_instance.placed_init | yesno:"Yes,No" }}</p>
                <p>Place : <a href="{% url 'alum_place2' relation_instance.id %}">Place</a></p>
            {% else %}
                <p>Already Placed</p>
                <p>Approved: {{ relation_instance.placed_approved  | yesno:"Yes,No" }}</p>
                <p>Undo placed: <a href="{% url 'alum_unplace2' relation_instance.id %}"></a></p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}