{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block menu %}
<li class="account-nav-head">Alumni <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'alum_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="{% url 'availablejobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Jobs/Internship</a></li>
<li><a href="{% url 'alum_jobsappliedfor' %}" title=""><span class="glyphicon glyphicon-ok"></span> Jobs applied for</a>
</li>
<li><a href="{% url 'postalumjob' %}" title="Post a new job"><span class="glyphicon glyphicon-plus"></span> Post a new Job</a></li>
<li><a href="{% url 'viewalumjob' %}" title="View posted jobs">View posted jobs</a></li>
<li><a href="{% url 'mentormentee:add_proposal' %}" title="Add a new proposal"><span class="glyphicon glyphicon-plus"></span> Add new research proposal</a></li>
<li><a href="{% url 'mentormentee:alum_proposals' %}" title="View all proposals">View proposals</a></li>
<li><a href="{% url 'alum_logout' %}" title="alum_logout">Logout</a></li>
{% endblock %}

{% block content %}
    <h2 class="sub-header">Company Profile and Job Details</h2>
    <div class="col-md-9">
        {% if job_instance.posted_by_alumnus == True %}
            <h4>Alum Details</h4>
        {% elif job_instance.posted_by_company == True %}
            <h3>Company Details</h3>
            <p>Name : {{ job_instance.company_owner.company_name }}</p>
            <p>Description : {{ job_instance.company_owner.description }}</p>
            <p>Website : {{ job_instance.company_owner.website }}</p>
            <p>Organization Type: {{ job_instance.company_owner.organization_type }}</p>
            <p>Industry Sector: {{ job_instance.company_owner.industry_sector }}</p>
        {% endif %}
        <h3>Job Details</h3>

        <p>Designation: {{ job_instance.designation }}</p>

        <p>Description: {{ job_instance.description }}</p>

        <p>Openings: {{ job_instance.num_openings }}</p>

        <p>Other Requirements: {{ job_instance.other_requirements }}</p>

        <p>Take home during training: {{ job_instance.take_home_during_training }}</p>

        <p>Take home after training: {{ job_instance.take_home_after_training }}</p>

        {% if relation_instance %}
            <p><a class="btn btn-default" href="{% url 'alum_deapplyforjob' job_instance.id %}" title=""><span
                    style="color: red">Remove Application</span></a></p>

            {% if relation_instance.shortlist_status %}
                <p>You have been shortlisted.</p>
            {% endif %}

        {% else %}
            <p><a class="btn btn-default" href="{% url 'alum_applyforjob' job_instance.id %}"><span
                    style="color: green">Apply</span></a>
            </p>
        {% endif %}

    </div>
    <div class="col-md-9">
        <h3>Links</h3>
        <h4><a href="{% url 'alum_home' %}"> Home</a></h4>
        <h4><a href="{% url 'alum_logout' %}"> Logout</a></h4>
    </div>

{% endblock %}