{% extends 'base_jobportal.html' %}
{% load crispy_forms_tags %}

{% block menu %}
<li class="account-nav-head">Alumni <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'alum_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="{% url 'availablejobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Jobs/Internship</a></li>
<li><a href="{% url 'alum_jobsappliedfor' %}" title=""><span class="glyphicon glyphicon-ok"></span> Jobs applied for</a>
</li>
<li><a href="{% url 'postalumjob' %}" title="Post a new job"><span class="glyphicon glyphicon-plus"></span> Post a new
    Job</a></li>
<li><a href="{% url 'viewalumjob' %}" title="View posted jobs">View posted jobs</a></li>
<li><a href="{% url 'mentormentee:add_proposal' %}" title="Add a new proposal"><span
        class="glyphicon glyphicon-plus"></span> Add new research proposal</a></li>
<li><a href="{% url 'mentormentee:alum_proposals' %}" title="View all proposals">View proposals</a></li>
<li><a href="{% url 'alum_logout' %}" title="alum_logout">Logout</a></li>
{% endblock %}

{% block content %}

<h2>Add a new job</h2>
<hr>
<div class="col-md-9">
    <form action="{% url 'postalumjob'  %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="well">
            {% crispy add_job_form add_job_form.helper %}
            <input type="submit" value="Post" class="btn btn-primary">
        </div>

    </form>
</div>
{% endblock %}