{% extends 'base_jobportal.html' %}

{% block menu %}
<li class="account-nav-head">Admin <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'admin_home' %}">Home</a></li>
    <li><a href="{% url 'companies' %}">Companies</a><span class="badge">{{ companiescount }}</span></li>
    <li><a href="{% url 'signup_requests' %}">SignUp Requests</a><span class="badge">{{ requestscount }}</span></li>
    <!--
    TODO: Make a drop down of approvals.
    -->
    <li><a href="{% url 'jobs' %}">Jobs</a><span class="badge">{{ jobscount }}</span></li>
    <li><a href="{% url 'internships:admin_all_interns' %}">Internships</a></li>
    <li><a href="{% url 'admin_approval' 'job' %}">Approvals: Jobs</a></li>
    <li><a href="{% url 'admin_approval' 'job_progress' %}">Approvals: Progress</a></li>
    <li><a href="{% url 'departments' %}">Departments</a></li>
    <li><a href="{% url 'programmes' %}">Programmes</a></li>
    <li><a href="{% url 'years' %}">Years</a></li>
    <li><a href="{% url 'admin_manage' %}">Manage Users</a></li>
{% endblock %}

{% block level_0 %}

    {% block content %}
    {% endblock %}

{% endblock%}
