{% extends 'base_mentormentee.html' %}
{% load crispy_forms_tags %}
{% block title %}
Students: Apply
{% endblock %}
{% block menu %}
<li class="account-nav-head">Student <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
<li><a href="{% url 'stud_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="{% url 'studviewjobs' %}"><span class="glyphicon glyphicon-briefcase"></span> Jobs/Internship</a></li>
<li><a href="{% url 'stud_jobsappliedfor' %}" title=""><span class="glyphicon glyphicon-ok"></span> Jobs applied for</a>
</li>
<li><a href="{% url 'editstudprofile' %}"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a></li>
<li><a href="{% url 'viewcvs' %}"><span class="glyphicon glyphicon-upload"></span> Upload CV</a></li>
<li><a href="{% url 'viewevents' %}"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
<li><a href="{% url 'mentormentee:stud_proposals' %}"><span class="glyphicon glyphicon-inbox"></span> Research Proposals</a>
</li>
{% endblock %}

{% block content %}
        <h2 class="sub-header">Apply</h2>
        <hr>
        <div class="col-md-9">
            <form action="{% url 'mentormentee:stud_apply' proposal_instance.id %}" method="post" accept-charset="utf-8">
				{% csrf_token %}
				<div class="well">
                    {{ form.non_field_errors }}
                    {{ apply_form | crispy }}
                    <input type="submit" value="Apply" class="btn btn-primary">
                </div>
			</form>
        </div>
{% endblock %}